extends layout

block content
  h2 Predict Stock Prices
  p.lead.
    This tool is not necessarily going to make you money. Simply put, it is a forecasting tool that will provide insights based 
    off of the Azure Machine Learning model I trained. This model predicts the days closing price based on it's open, high, and low 
    values. The stock data is acquired using the free <a href="#">AlphaVantage API</a>. The model has been trained on a variety of 
    stock information to provide a more general assessment of stock market behaviour rather than a particular stock.
  
  .text-left
    form(action="submit" method="POST")
      .form-group
        label(for="symbol") Stock Symbol
        input(type="text" placeholder="e.g. MSFT" maxlength="6" name="symbol").form-control#symbol
      .text-center
        button(type="submit").btn.btn-primary Submit
    hr
    if open
      ul.results
        mixin list(title, val)
          li
            h4 #{title}: #{val}
        +list("Open", open)
        +list("High", high)
        +list("Low", low)
        +list("Volume", volume)
        +list("Close (Actual)", close)
        +list("Close (Predicted)", slm)
        +list("Std. Deviation of Prediction", slsd)
        +list("Score within 1 Std. Deviation?", eval)