doctype html
html
  head
    title AzureML Stock Price Predictor
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/javascripts/bootstrap.min.js")
  body
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href="#") AzureML Stock Price Predictor
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href="#") About
  .container
    .row
      .col-lg-12.text-center
        block content
