doctype html
html
  head
    title AzureML Stock Price Predictor
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="/javascripts/bootstrap.min.js")
  body
  nav.navbar.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href="/") AzureML Stock Price Predictor
  .container
    .row
      .col-lg-12.text-center
        block content
  footer.footer
    .container
      span.text-muted &copy; James Earle 2017
