body {
	padding: 54px 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

form {
	max-width:500px;
	margin: 0 auto;
}

a {
	color: #00B7FF;
}

ul.results {
	margin-left: 50px;
}

.row {
	margin: 15px 15px;
}

.footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

@media (min-width: 952px) {
	body {
		padding: 56px 0px;
	}
}
